{{ define "main" }}
<main class="bg-bkg text-content">
  <div class="min-h-screen max-w-4xl mx-auto text-justify">
    <article class="w-full flex flex-col pt-4">
      {{ .Content }}
    </article>
    <div class="w-full flex justify-center py-7">
      <a
        role="button"
        href="/"
        class="font-semibold px-4 py-4 border-2 border-black dark:border-white rounded-sm hover:bg-orange-600 focus:outline-none w-full md:w-1/2 flex items-center justify-center"
        >Go back</a
      >
    </div>
  </div>
</main>
{{ end }}
