<header class="sticky top-0 z-10 bg-gray-200 dark:bg-bkg">
  <section class="max-w-4xl mx-auto px-4 flex justify-between items-center">
    <a
      href="/#home"
      class="flex justify-center items-center mb-4 text-gray-400"
    >
      <h1 class="text-5xl">IC</h1>
    </a>
    <div>
      <nav class="hidden md:block space-x-8 text-xl" arial-label="main">
        <a href="/#story" class="hover:opacity-70 text-content">About</a>
        <a href="/#projects" class="hover:opacity-70 text-content">Projects</a>
        <a href="/#contact" class="hover:opacity-70 text-content">Contact</a>
      </nav>
    </div>
  </section>
  <div class="h-[5px] bg-black dark:bg-gray-50 w-full"></div>
</header>
