{{- $src := .src -}}
{{- $desc := .desc -}}
{{- $figCap := .figCap | default false -}}
{{- $lqip := $src.Resize "100x gif" -}}
{{- $lqip = $lqip.Filter (images.GaussianBlur 3) -}}
{{- $lqip = printf "data:image/gif;base64,%s" ($lqip.Content | base64Encode) -}}

<figure>
  <img
    src="{{ $lqip | safeURL }}"
    data-src="{{ $src }}"
    width="{{ $src.Width }}"
    height="{{ $src.Height }}"
    alt="{{ $desc }}"
    class="lazyload lquip blur-up mb-pic"
  />
  {{- if and $desc (eq $figCap "true") -}}
  <figcaption>{{ $desc }}</figcaption>
  {{- end -}}
</figure>

